.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.movie {
  text-align: center;
}

.movie h3, .movie p {
  padding: 0;
  margin: 0;
}

.movies {
  border-radius: 9px;
}