@import './base.css';

body {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Geist", sans-serif;
  display: grid;
  place-content: center;
}

#app {
  min-width: min-content;
  background-color: #16181c;
  border: #16181c solid 1px;
  border-radius: 16px;
  min-height: 15rem;
}

.title {
  font-size: 20px;
  font-weight: 800;
  padding: 12px 16px;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.x-follow-card {
  display: flex;
}

.show-more {
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #1d9bf0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.follow-card {
  padding: 12px 16px;
}