.tw-Card:hover {
  background-color: #1d1f23;
}

.tw-Card {
  padding: 13px;
  cursor: pointer;
}

.tw-followCard {
  display: flex;
  align-items: center;
  color: #e7e9ea;
  font-size: .96rem;
  justify-content: space-between;
  gap: 20px;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 10px
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  color: #5e6267;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  border: 0;
  border-radius: 999px;
  padding: 9px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.tw-followCard-button:hover {
  opacity: .8;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #e7e9ea;
  width: 130px;
}

.tw-followCard-button.is-following:hover {
  background-color: rgba(103, 7, 15, 0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease all;
  opacity: 1;
  padding: 9px 0px;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}

.show-more {
  padding: 13px;
  color: #1d9bf0;
  cursor: pointer;
}

.show-more:hover {
  background-color: #1d1f23;
  border-radius: 0px 0px 0px 20px;
}

.App {
  background-color: #16181c;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  text-overflow: ellipsis;
}