.tw-followCard {
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
  padding: 12px 16px;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-info .tw-followCard-infoUserName {
  color: #71767B;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  box-shadow: rgba(255, 255, 255, 0.03) 0px 0px 2px inset;
}

.tw-followCard-button {
  background-color: #EFF3F4;
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 8px 16px;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.tw-followCard-button:hover {
  opacity: .8;
}

.tw-followCard-text {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.tw-followCard-button.is-following {
  border: 0.1px solid #536471;
  background: transparent;
  color: #fff;
  width: 140px;
}

.tw-followCard-button.is-following:hover {
  background-color: rgba(244, 33, 46, 0.1);
  color: #f4212e;
  border: 0.1px solid #67070f;
  transition: .3s ease all;
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}

.tw-followCard:hover, p:hover {
  background-color: rgb(255, 255, 255, 0.03);
  cursor: pointer;
}

p:hover {
  border-radius: 0px 0px 16px 16px;
}

a:hover {
  text-decoration: underline;
}

.tw-followCard-avatar:hover {
  background-color: rgba(26, 26, 26, 0.15);
  opacity: 0.85;
  cursor: pointer;
}
